# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# Environments
.env
.venv
venv/

# Local secrets / scratch files
txt

# Local notebooks (generated / exploratory)
notebooks/

# Exclude eda folder
eda/
dummy/
data/
components/__pycache__/
tabs/__pycache__/